.spanner {
    margin-bottom: 20px;
}

.clear {
    clear:         both;
}

.third {
    width:         200px;
    float:         left;
}

a {
    color:         #333333;
}

a:hover {
    color:         #888888;
}

span.tag {
    background-color: #a7d660;
    border:           1px solid #65813a;
    color:            #000000;
    font-weight:      bold;
    padding:          5px;
    border-radius:    5px;
}

pre.sane {
    white-space:      pre-wrap;
    white-space:      -moz-pre-wrap;
    white-space:      -pre-wrap;
    white-space:      -o-pre-wrap;
    word-wrap:        break-word;
}
