Source: organized
Section: web
Priority: optional
Maintainer: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://pault.ag/

Package: organized
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 webapp-core
Description: webapp that drives org.anized
 This app tracks bugs, issues and defects (but
 treats them all the same) and shoves them all into
 a single, normalized system.
 .
 This package is internal to Paul Tagliamonte's setup, please
 don't use this unless you know what you're doing.
