<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dewebstrap.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/organized.css') }}"/>
        <title>{% block title %}{% endblock %}</title>
        <style>
            {% block css %}
            {% endblock %}
        </style>
        {% block js %}
        {% endblock %}
    </head>
    <body>
        <div class = 'heading' >
            <div class = 'pad content' >
                <div class = 'slug' >
{% block slug %}
{% endblock %}
                </div>
                <div class = 'nav' >
                    <ul>
                        <li><a href = '/' >Home</a></li>
{% block nav %}
{% endblock %}
                    </ul>
                </div>
                <div class = 'clear' ></div>
            </div>
        </div>
        <div class = 'content' >
            <div class = 'main pad' >
{% block main %}
{% endblock %}
            </div>
        </div>
        <div class = 'content' >
            <footer>
{% include 'footer.html' %}
            </footer>
        </div>
    </body>
</html>
