{% extends "base.html" %}

{% block title %}{{project.name}}{% endblock %}

{% block slug %}
{{project.name}}
{% endblock %}

{% block main %}
<h1>{{project.name}}</h1>
<h2>About {{project.name}}</h2>

{{project.description}}

<h2>Bug Digest</h2>

This project has <b>{{bugs.count()}}</b> known bugs,
<b>{{open_bugs.count()}}</b> open
bugs, and <b>{{closed_bugs.count()}}</b> closed bugs.

<div class = 'spanner' ></div>
<div class = 'clear' ></div>

<div class = 'third' >
    <h3>{{count}} latest closed bugs</h3>
    <ul>
{% for bug in closed_bugs[:count] %}
        <li><a href = '/bug/{{bug._id}}' >{{bug.title}}</a></li>
{% endfor %}
    </ul>
</div>

<div class = 'third' >
    <h3>{{count}} latest open bugs</h3>
    <ul>
{% for bug in open_bugs[:count] %}
    <li><a href = '/bug/{{bug._id}}' >{{bug.title}}</a></li>
{% endfor %}
    </ul>
</div>

<div class = 'third' >
    <h3>Active Milestones</h3>
    <ul>
{% for milestone in milestones %}
    <li><a href = '/milestone/{{milestone._id}}' >{{milestone.name}}</a></li>
{% endfor %}
    </ul>
</div>

<div class = 'clear' ></div>

{% endblock %}
